@charset "UTF-8";

body {
	font: 12px Arial, Tahoma, Geneva, sans-serif;
	background-color: #ECECEC;
	color:#333333;
}

#page-wrap {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow:0 0 30px #320032;
	-moz-box-shadow:0 0 30px #320032;
}

#js-alert{background:yellow;}
/*-------Font format styling-------*/
a, a:link{
	text-decoration: none;
	color:#7c1f5d;
	font-weight:bold;
	font-size:13px;
}
Ca:hover {color: #A69500;}
a:hover {color: #8FA529;}

h1, h2, h3, h4, h5, h6 {
	display:block; 
	font-weight:bold;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
}
h1{
	font-size:2em;
	-webkit-margin-before:0.67em;
	-webkit-margin-after:0.67em;
}
h2{
	font-size:1.5em;
	-webkit-margin-before:0.83em;
	-webkit-margin-after:0.83em;
}

h3{
	font-size:1.17em;
	padding-top:15px;
}


h4{-webkit-margin-before:1.33em;-webkit-margin-after:1.33em;}
h5{font-size:0.83em;-webkit-margin-before:1.67em;-webkit-margin-after:1.67em;}
h6{font-size:0.67em;-webkit-margin-before:2.33em;-webkit-margin-after:2.33em;}

/*----------Classes-------------*/

.clearBoth{clear:both;}
.centre{width:1000px;margin:0 auto;}


.section-header{
	color: #630045;
}


h2.section-header {
	font-size:20px;
	font-weight: bold;
	padding-bottom:3px;
	border-bottom:1px dotted grey;
}

.section-content{
	padding:0px 30px;
}

.section-content p{
	font-family:"Lucida Sans Unicode", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.section-content .twitter_section  p{
	font-size:12px;
    font-family:arial;
}

.section-content .twitter_section  a{
    font-size:12px;
}

/*-------Sticky footer styles with CLEARFIX-------*/
html, body, #page-wrap, #main-content{height: 100%;}
body > #page-wrap{height: auto; min-height:100%;}

#footer{
	background: white;
	position: relative;
	height: 175px;
	color:black;
	margin-bottom:0;
	margin-top:20px;
}

.clearfix:after{
	content: ".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}

.clearfix{display: inline-block;}
/*Hides from IE-mac\*/
* html .clearfix{height:1%;}
/*.clearfix{display: block;}
End hide from IE-mac 8 */

/*-------Header styles-------*/

#header{
	height: 160px;
	background: #fff;
	width:1000px;
	position:relative;
}

a#logo{
	position:absolute;
	top: 20px;
	left: 30px;
}

#header-sign-in{
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius:5px;
    position: absolute;
    right: 30px;
    box-shadow: 0 0 2px #aaa;
    -moz-box-shadow:0 0 2px #aaa;
    margin-top:5px;
}

#header-sign-in a{
    float: left;
    padding: 8px 10px 8px 10px;
    font-weight:normal;
}

.social{
    -moz-border-radius: 30px;
    border-radius: 30px;
    height:98px;
    font-size:1.5em;
    font-weight:bold;
    border: 2px solid #8FA529;
}

.social_table{
    width:100%;
}

.social_table td.right{
    text-align:right;
    padding:0px;
    vertical-align:middle;
}
.social_table td.left{
    text-align:left;
    padding:10px;
    vertical-align:middle;
    width:170px;
}

/*-------Main-content styles-------*/

#main-content{
	height: 100%;
	background: #F5F5F5;
	padding-top: 5px;
	padding-bottom: 10px;
	min-height:490px;
	border-top:1px dotted grey;
	border-bottom:1px dotted grey;
}

#main-content ul{
/* 	list-style: disc inside none; */
	margin-bottom: 10px;
	list-style-image:url(../images/agt_forward.png);
	padding-left:20px;
}

#main-content ul li{
	font-size:12pt;
	font-family:"Lucida Sans Unicode","Lucida Grande",Tahoma,Helvetica,Arial,sans-serif;
}

.contentTable{
	width:100%;
}

.contentTable td{
    padding-left:20px;
    padding-right:20px;
    padding-top:30px;
    width:100px;
}

/*-------Zanata-desc styles-------*/

#zanata-desc{
	height: 100%;
}

/*-------Translator-content styles-------*/

#translator-content{
	height: 100%;
}

/*-------Writer-content styles-------*/

#writer-content{
	height: 100%;
}

/*-------Software-dev-content styles-------*/

#software-dev-content{
	height: 100%;
}

/*-------FAQ-section styles-------*/

#faq-section{
	height: 100%;
}

#faq-section span {
/* 	padding-left: 5px; */
/* 	padding-right: 5px; */
/* 	color: black */
}

#faq-section span.question{
    color:#630045;
}

#faq-section span.answer{
    color:#8FA529;
    font-weight:bold;
}

#faq-section span#grey-text{
	margin-right: 10px;
	font-style: italic;
}
#faq-section span#yellow-text {
	margin-right: 10px;
	font-style: italic;
	border-left: 3px solid #FFC000;
	border-right: 3px solid #FFC000;
}
#faq-section span#green-text{
	margin-right: 10px;
	border-left: 3px solid #099B09;
	border-right: 3px solid #099B09;
	
}

/*-------Footer styles-------*/
#footer #sponsor{
	position: absolute;
	left:355px;
}

#footer p{
	text-align:center;
	padding: 10px 0px;
}


#menu_bar{
	height:40px;
	margin-top:80px;
	position:absolute;
	width:900px;
}

#menu_bar ul{
	padding-left:30px;
}

#menu_bar li{
   border-right:1px solid white;
}

#menu_bar li a{
	height:24px;
    width:140px;
    
    margin-top:2px;
    margin-right: 2px;
    padding-top: 8px;
    
    color: white;
    background-color:#320032;
    float:left;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    
    box-shadow: 0 0 5px #666666 inset;
    -moz-box-shadow:0 0 5px #666666 inset;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#menu_bar a:hover{
    background-color:#8FA529;
}

#menu_bar li a.here{
    background-color: #890F63;
    text-shadow: 0 0 6px #320032;
}

#breadcrumb {
	height:40px;
    margin-top:130px;
    padding-left:30px;
    position:absolute;
    width:900px;
    font-size:14px;
    font-weight:bold;
    color:#630045;
}

#breadcrumb #dest{
	font-size:12px;
	font-weight:normal;
}

.tab_table {
    height:490px;
    width:100%;
}
.tab_table td{
	border: 8px solid #f5f5f5;
	box-shadow: 0 0 10px #320032 inset;
	padding:20px;
	-moz-box-shadow:0 0 10px #320032 inset;
}

tr.tab{
    padding: 10px; 
}

tr.tab td:hover{
    border: 8px solid #f5f5f5;
    box-shadow: 0 0 20px #8FA529 inset;
    -moz-box-shadow:0 0 20px #8FA529 inset;
}

tr.tab td{
    cursor: pointer;
    font-size:14px;
    font-weight:bold;
    width:85px;
    padding-top:12px;
    padding-left:20px;
    padding-right:0;
    padding-bottom:0;
}

tr.tab span{
    text-shadow: 0 0 8px grey;
}

.index_table {
    width:100%;	
}

.index_table .tab_section{
	width:680px;
	vertical-align:top;
}

.index_table .twitter_section{
    width:250px;
    vertical-align:middle;
    padding-left:10px;
}


div.hide {
	display: none;
}

div.show {
	display: block;
}

div.download {
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #8FA529;
}

div.download:hover {
	box-shadow:0 0 10px #8FA529 inset;
	-moz-box-shadow:0 0 10px #8FA529 inset;
}

tr.desc{
	height:380px;
}

.tab_img{
/* 	opacity:0.8; */
/*     filter:alpha(opacity=80); */
}
.content_table {
	width:100%;
}

.content_table td.content{
	box-shadow:0 0 0;
	vertical-align:top;
	-moz-box-shadow:0 0 0;
}

.content_table td.img{
    box-shadow:0 0 0;
    -moz-box-shadow:0 0 0;
    vertical-align:top;
    text-align: right;
}

.tutorial_table td {
   padding:10px;
  vertical-align:bottom;
}

.download_title {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-bottom: 3px;
}

.download_desc {
	font-size: 11px;
	color: black;
	font-weight: normal;
}

.download_img {
	float: left; 
	margin-right: 3px;
}

.getting_started {
	padding-right: 20px;
}

.internal_section {
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

p.static_code {
	font-family: monospace;
}

.release_notes_table {
	width: 100%;
}

.release_notes_table td {
	padding-top: 0px;
}

.release_notes_table h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}
