@charset "UTF-8";
/* 	CSS Document
	Adritek@gmail.com
	@adritek
	Zanata style elements
*/

html {overflow-y:scroll;}

body {
	font: 80%/1.5 Arial, Tahoma, Geneva, sans-serif;
	background-color:white;
	color:#333333;
}

#page-wrap {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF/*#9E9941*/;
	box-shadow:0 0 30px #ccc;
}

#js-alert{background:yellow;}
/*-------Font format styling-------*/

a, a:link {text-decoration: none;}
a, a:link{
	color:#7c1f5d;
	font-weight:bold;
	font-size:14px;
}
a:hover {color: #A69500;}

h1, h2, h3, h4, h5, h6 {display:block; font-weight:bold;-webkit-margin-start:0px;-webkit-margin-end:0px;}
h1{font-size:2em;-webkit-margin-before:0.67em;-webkit-margin-after:0.67em;}
h2{font-size:1.5em;-webkit-margin-before:0.83em;-webkit-margin-after:0.83em;}
h3{font-size:1.17em;}
h4{-webkit-margin-before:1.33em;-webkit-margin-after:1.33em;}
h5{font-size:0.83em;-webkit-margin-before:1.67em;-webkit-margin-after:1.67em;}
h6{font-size:0.67em;-webkit-margin-before:2.33em;-webkit-margin-after:2.33em;}

strong{font-weight: bold}
em{font-style:italic;}

/*----------Classes-------------*/

.floatLeft{float:left;}
.floatRight{float:right;}
.clearBoth{clear:both;}
.centre{width:1000px;margin:0 auto;}

p.backToTop{
	float:right !important;
	margin: 0.5em 0 0 0.4em;
	position:relative;
	padding: 0;
	font-size: x-small !important;
	z-index: 99px;
	width: 55px !important;
}

.backToTop a{
	color:#7c1f5d;
	font-weight:normal;
    font-size:10px;
}

.section-header{
	color: #630045;
    padding-top: 10px;
	margin-bottom: 10px;
}


h2.section-header {
	font-size:24px;
	font-weight: bold;
}

.section-content{
	padding:0px 30px;
}

.section-content p{
	font-family:"Lucida Sans Unicode", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

/*-------Sticky footer styles with CLEARFIX-------*/
html, body, #page-wrap, #main-content{height: 100%;}
body > #page-wrap{height: auto; min-height:100%;}

#content{padding-bottom:220px; background:white;}/*must be same height as the footer - see footer styles*/

#footer{
	background: white;
	position: relative;
	margin-top:-220px;/*negative value of footer height */
	height: 220px;
	clear:both;
	color:black;
	border-top:1px dotted #2A002A;
}

.clearfix:after{
	content: ".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}

.clearfix{display: inline-block;}
/*Hides from IE-mac\*/
* html .clearfix{height:1%;}
/*.clearfix{display: block;}
End hide from IE-mac 8 */

/*-------Header styles-------*/

#header{
	height: 160px;
	background: #fff;
	width:1000px;
	position:relative;
}

a#logo{
	position:absolute;
	top: 20px;
	left: 30px;
}

#header-sign-in{
	background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    position: absolute;
    right: 30px;
    top: 0;
	box-shadow: 0 -4px 5px #E9E9E9 inset;
	-moz-box-shadow:0 -4px 5px #E9E9E9 inset;
	-webkit-box-shadow:0 -4px 5px #E9E9E9 inset;
}

#header-sign-in a{
	float: left;
    padding: 20px;
    padding:15px;
    font-weight:normal;
}

#social{
	position:absolute;
	margin-top:105px;
	right:20px;
}

/*-------Main-content styles-------*/

#main-content{
	height: 100%;
	background: #FFF;
	padding-top: 20px;
	padding-bottom: 40px;
}

#main-content ul{
	list-style: disc inside none;
	margin-bottom: 10px;
}

#main-content ul li{
	font-size:12pt;
	font-family:"Lucida Sans Unicode","Lucida Grande",Tahoma,Helvetica,Arial,sans-serif;
}

/*-------Zanata-desc styles-------*/

#zanata-desc{
	height: 100%;
}

/*-------Translator-content styles-------*/

#translator-content{
	height: 100%;
}

/*-------Writer-content styles-------*/

#writer-content{
	height: 100%;
}

/*-------Software-dev-content styles-------*/

#software-dev-content{
	height: 100%;
}

/*-------FAQ-section styles-------*/

#faq-section{
	height: 100%;
}

#faq-section span {
	padding-left: 5px;
	padding-right: 5px;
	color: black
}
#faq-section span#grey-text{
	margin-right: 10px;
	font-style: italic;
}
#faq-section span#yellow-text {
	margin-right: 10px;
	font-style: italic;
	border-left: 3px solid #FFC000;
	border-right: 3px solid #FFC000;
}
#faq-section span#green-text{
	margin-right: 10px;
	border-left: 3px solid #099B09;
	border-right: 3px solid #099B09;
}

/*-------Bug section styles-------*/

#bugs-section{
	height: 100%;
	padding-bottom:20px;
}

/*-------Footer styles-------*/
#footer #sponsor{
	position: absolute;
	left:292px;
}

#footer p{
	text-align:center;
	padding: 30px 0px;
}


#menu_bar{
	height:40px;
	margin-top:100px;
	position:absolute;
	width:900px;
}

#menu_bar ul{
	padding-left:5px;
}

#menu_bar li{
   border-right:1px solid white;
}

#menu_bar li a{
	height:28px;
    color: white;
    margin-top:2px;
    margin-right: 2px;
    padding-top: 8px;
    float:left;
    font-size:14px;
    font-weight:bold;
    width:200px;
    text-align:center;
    background-color:#320032;
    
    text-shadow: 0 0 6px #333333;
    box-shadow: 0 0 5px #666666 inset;
    
    -moz-box-shadow: 0 0 5px #666666 inset;
    -webkit-box-shadow: 0 0 5px #666666 inset;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px; /* future proofing */
}

#menu_bar a:hover{
/*     background-color:#CCCCCC; */
    background-color:#A69500;
}

#menu_bar li a.here{
    background-color: #890F63;
    text-shadow: 0 0 6px #320032;
}


