@charset UTF-8;

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block;
}

body
{
    width:100%;
    background:url(header_bg2.png) repeat-x left top;
    font-size:12px;
    font-family:Helvetica,"Times New Roman", Times, serif;
}

.container
{
    width:1016px;
    position:relative;
    margin:0 auto;
}

header
{
    width:100%;
    height:102px;
}

img
{
    border:0;
}

.logo
{
    padding-top:8px;
}

menu
{
    border:1px #cfcfcf solid;
    background:0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background: -moz-linear-gradient(top,  #fff,  #eee);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    float:right;
    margin:0;
    padding-left: 0;
}

menu ul
{
    margin: 0;
    padding: 0;
}

menu ul li
{
    list-style-type:none;
    display:inline;
    color:#999;
}

menu ul li a
{
    padding: 3px 10px;
}

menu ul li a:link,.menu ul li a:visited
{
    color:#371C1C;
    text-decoration:none;
}

menu ul li a:hover
{
    color:#82005A;
}

nav
{
    float:left;
    background:0;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3f3f3));
    background: -moz-linear-gradient(right,  #f3f3f3,  #fff);
    width:180px;
    text-align:right;
    border-right:dotted 1px #ddd;
    min-height:400px;
}

.menuDiv {
    font-family:Helvetica,"Times New Roman", Times, serif;
    font-size:12px;
    color:#320032;
    width:100%;
}

.menuDiv ul {
list-style-type: none;
height: 40px;
width: 100%;
padding:0;
}

.menuDiv li {
    float: left;
    border-right:1px solid #371C1C;
}

.menuDiv ul a {
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 10px;
text-decoration: none;
color: #371C1C;
}

.menuDiv ul a:hover {
    color: #fff;
}



.content .header {
    font-family:Helvetica;
    font-size:22px;
    font-weight:bold;
    color:#371C1C
}

.content .firstCapital {
    color:#82005A;
    font-size:30px;
}

.content ul {
    font-size:14px;
    padding-left:0;
    margin:15px;
}

article
{
    line-height:25px;
    padding:10px;
}

.footer
{
    width:100%;
    text-align:center;
    padding-top:20px;
    margin-top:5px;
    border-top:dotted 1px #ddd;
}

a:link,a:visited,nav ul li a:link,nav ul li a:visited
{
    color:#371C1C;
    text-decoration:none;
    
}

.content a:link,a:visited,nav ul li a:link,nav ul li a:visited {
    color:#82005A;
}

a:hover,nav ul li a:hover
{
    color:#82005A;
}